<header class="l-header p-header js-header">
  <div class="p-header__inner l-inner">
    <div class="p-header__wrapper">
      <h1 class="p-header__logo">
        <a href="./index.html">
          1cwVite
        </a>
      </h1>
      <nav class="p-header__nav p-header__nav--pc">
        <ul class="p-header__items">
          <li class="p-header__item p-header-item"><a href="#display" class="c-nav-link c-nav-link--header">展示</a></li>
          <li class="p-header__item p-header-item"><a href="#access" class="c-nav-link c-nav-link--header">利用案内・アクセス</a>
          </li>
          <li class="p-header__item p-header-item"><a href="#event" class="c-nav-link c-nav-link--header">ショー・イベント</a>
          </li>
          <li class="p-header__item p-header-item"><a href="#shop" class="c-nav-link c-nav-link--header">レストラン・ショップ</a>
          </li>
          <li class="p-header__item p-header-item"><a href="#price" class="c-nav-link c-nav-link--header">料金・年パス</a>
          </li>
        </ul>
      </nav>
      <!-- SPハンバーガーアイコン -->
      <button type="button" class="p-header__hamburger p-hamburger js-hamburger" aria-controls="drawer-sp"
        aria-expanded="false" aria-label="メニューを開く">
        <span class="p-hamburger__line">
          <span class="p-hamburger__hidden"></span>
        </span>
      </button>
      <nav class="p-header__nav p-header__nav--sp js-drawer-menu" id="drawer-sp">
        <ul class="p-header__items">
          <li class="p-header__item p-header-item js-drawer-link"><a href="#about">利用案内</a></li>
          <li class="p-header__item p-header-item js-drawer-link"><a href="index.html#display">展示</a></li>
          <li class="p-header__item p-header-item js-drawer-link"><a href="#event">ショー・イベント</a></li>
          <li class="p-header__item p-header-item js-drawer-link"><a href="#shop">レストラン・ショップ</a></li>
          <li class="p-header__item p-header-item js-drawer-link"><a href="#price">料金・年パス</a></li>
        </ul>
      </nav>

    </div>

  </div>
</header>