@use 'src/scss/global' as *;
@use "sass:math";
@use "sass:color";


/* アクセシビリティ対応ドロワーメニュー */
.p-hamburger {
  width: rem(30);
  height: rem(14);
  transition: ease .3s;
  position: absolute;
  // right: 20px;
  right: 0;
  top: 50%;
  // transform: translateY(-55%);
  transform: translateY(-52%);
  // margin: auto;
  box-shadow: 0 0 2rem transparent;
  z-index: 999;

  background: transparent;
  border: none;
  padding: 15px;

  @include mq(md) {
    display: none;
  }
}

// ドロワーボタン位置 true:開いてる時 false:閉じてる時
.p-hamburger[aria-expanded="true"] {
  right: 0;
  transform: translateY(-53%);
}

// ドロワーボタンの背景色 true:開いてる時 false:閉じてる時
.p-hamburger[aria-expanded="true"],
.p-hamburger[aria-expanded="false"] {
  background: none;
}

/* ドロワーボタンfocus時 */
.p-hamburger:focus .p-hamburger__line,
.p-hamburger:focus .p-hamburger__line::before,
.p-hamburger:focus .p-hamburger__line::after {
  // box-shadow: 0 0 10px 2px $main-color;
}

/* ハンバーガー真ん中のライン */
.p-hamburger__line {
  position: absolute;
  // right: 0;
  right: 50%;
  transform: translateX(50%);
  width: rem(28);
  height: 2px;
  background-color: #FFF;
  transition: ease .3s;
}

/* ハンバーガー上下のライン */
.p-hamburger__line::before,
.p-hamburger__line::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  background-color: #FFF;
  content: '';
  transition: ease .3s;
}

/* ハンバーガー上のラインの位置 */
.p-hamburger__line::before {
  top: -8px;
}

/* ハンバーガー下のラインの位置 */
.p-hamburger__line::after {
  top: 8px;
}

/* ドロワーメニューオープン時のハンバーガー真ん中ライン */
.p-hamburger[aria-expanded="true"] .p-hamburger__line {
  background-color: transparent;
  box-shadow: none;
}

/* ドロワーメニューオープン時のハンバーガー上下ライン */
.p-hamburger[aria-expanded="true"] .p-hamburger__line::before,
.p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
  top: 0;
  background-color: #FFF;
}

/* ドロワーメニューオープン時のハンバーガー上ラインの回転 */
.p-hamburger[aria-expanded="true"] .p-hamburger__line::before {
  transform: rotate(45deg);
}

/* ドロワーメニューオープン時のハンバーガー下ラインの回転 */
.p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
  transform: rotate(-45deg);
}

.p-hamburger__hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
}