@use "global" as *;
@use "foundation";
@use "object/**/*";

.space {
  // margin-top: rem(80);
  margin-top: 80px;
}

.test {
  font-size: rem(20);
  background-image: url('../../assets/images/dummy.jpg');
  background-size: cover;
  background-position: center;
  // color: $text-color;
  color: #FFF;
  @include mq(md) {
  font-size: rem(30);
  color: $text-primary;
  }
}

.swiper-pagination-bullet {
  background: orange;
}

.swiper-pagination-progressbar {
  background: darkolivegreen;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: red;
}

